#mfa-login-container{
    width:      50%;
    margin:     auto;
}

#authenticator-setup{
    margin: 0 0 2rem;
}

#authenticator-qr {
    display: inline-block;
	margin-right: 3rem;
	width: 256px;
}
#authenticator-qr-code img{
    display: inline-block !important;
    margin-bottom: 0.5rem;
}
#authenticator-qr code {
    background-color: #e8e8e8;
    letter-spacing: 10%;
    padding: 0.5rem;
}
#authenticator-verify {
    display: inline-block;
    vertical-align: top;
}
.auth-help {
    margin-top: 2rem;
}
div.mfa-login-box{
    padding: 20px;
}

div.multifactor-enabled{
    display:     none;
    font-size:   20px;
}

span#mfa-error{
    display: none;
    color:   #c66;
    margin-left: 6px;
    margin-top: 6px;
}

input#authenticator-code{
    font-family:    monospace;
    font-size:      30px;
    letter-spacing: 20%;
}

input.error{
    border: solid 1px #c66;
}

a.mfa-disable-btn{
    margin-top: 1em;
    margin-left: 1em;
    display: none;
}

div#authenticator-secret{
    font-size: 20px;
}

a.mfa-verify-btn{
    margin-left:    5px;
}

i.mfa-check{
    margin-right: 5px;
    padding-top:  5px;
    font-size:    27px;
    color:        green;
}

div.mfa-login-box div.message {
    margin-bottom: 15px;
}

div.mfa-login-box .mfa-input {
    margin-top: 5px;
    margin-right: 5px;
}


#mfa-user-details .panel-switchbox {
    margin-top: 10px;
    font-size: 13px;
}

#mfa-user-details .panel-switchbox .element-label {
    margin-right: 20px;
}

#mfa-user-details .panel-switchbox .element-wrapper {
    display: inline-block;
}

#mfa-user-details .description {
    margin: 5px 2px;
    color: #727272;
    font-size: 13px;
    line-height: 17px;
}

#mfa-user-details .mfa-setting{
    margin-top: 15px;
}

#mfa-user-details div.mfa-setting div.select-label{
    margin-right: 20px;
    display: inline;
}
